.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.jks
*.keystore
key.properties
.env
.env.*
!.env.example
.idea/
.vscode/
*.iml
.DS_Store
